@model SistemaCadastroEleitoral.Models.Contato.ContatoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContatoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cadastro.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdContato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
